<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <timestamp key="myTimestamp" datePattern="yyyy-MM-dd"/>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>//STONE/Ric/Тополов/Soap2Gis/Soap2Gis${myTimestamp}.log</file>
            <append>true</append>
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
  </appender>
        
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Log message format -->
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate.type" level="ERROR" /> 
  <logger name="org.hibernate" level="ERROR" />

  <logger name="org.hibernate.engine.loading.internal.CollectionLoadContext" level="ERROR"/>
  <logger name="com.ric" level="INFO"/>
  <logger name="org.apache.xml.security.Init" level="INFO"/> <!-- не работает почему то -->
  
  <logger name="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer" level="ERROR" />
   
<!--   <logger name="org.ehcache" level="ERROR"/>
 <logger name="org.hibernate.stat" level="DEBUG"/> -->  
  
  <!--<logger name="org.springframework.security" level="TRACE"/>-->

  <!-- Setting the root level of logging to INFO - Здесь менять уровни логгинга в Spring Boot-->
  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>