<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<cache:annotation-driven />
	<aop:aspectj-autoproxy />

	<!-- Aspect -->
	<bean id="logAspect" class="com.ric.st.aspect.LoggingAspect" />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@127.0.0.1:1521:ORCL" />

 		<property name="user" value="gen" />
		<property name="password" value="buzzlighter" />
		<property name="maxIdleTime" value="30" />
		<property name="maxPoolSize" value="100" />
		<property name="minPoolSize" value="10" />
		<property name="initialPoolSize" value="10" />
		<property name="idleConnectionTestPeriod" value="20" />
		<property name="testConnectionOnCheckin" value="false" />
		<property name="testConnectionOnCheckout" value="false" />
		<property name="maxStatements" value="5000" /> <!-- Чтобы не было APPARENT DEADLOCK - попробовал 5000-->
		<property name="numHelperThreads" value="10" />  <!-- Чтобы не было APPARENT DEADLOCK - попробовал -->
	</bean>

<!-- пока закомментил 18.07.2018
	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
		id="transactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven mode="proxy"
		transaction-manager="transactionManager" />
-->

	<context:spring-configured />
	<context:annotation-config />


</beans>
